.FavoriteButton {
  gap: 8px;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  height: 100%;
  opacity: 0.6;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;

  &:hover {
    opacity: 1;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.FavoriteButton_Selected {
  opacity: 1;
  border-bottom: 1px solid #f96389 !important;
}

.FavoriteButton_Label {
  color: #010023;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
