.Wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../../public/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
}

.Container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.Column {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  height: 100%;
}
