.Chip {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  border-radius: 4px;
  width: fit-content;
  opacity: 1;
  transition: all 0.3s;
  gap: 4px;

  &:hover {
    opacity: 0.8;
  }
}

.Chip_Label {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
